@model PageModel

@section Scripts {
    <script src="~/js/recorder/audioRecord.js" asp-append-version="true"></script>
    <script src="~/js/recorder/webrecorder.js" asp-append-version="true"></script>
    <script src="~/js/microphone/volume-meter.js" asp-append-version="true"></script>
    <script src="~/js/custom-file-input.js" asp-append-version="true"></script>
}

<div class="container container-fluid">
    <div class="lingvo-header container-fluid">
        <h3>
            <a asp-controller="Home" asp-action="Index">Arbeitshefte</a> &gt; <a asp-controller="Home" asp-action="Workbook" asp-route-id="@Model.Workbook.Id">@Model.Workbook.Title</a> &gt; @ViewData["Title"]
        </h3>
    </div>
    <form style="padding-top:20px;" id="pageForm" enctype="multipart/form-data"
          method="post" asp-controller="Home" asp-action="@(Model.Page == null ? "CreatePage" : "UpdatePage")" asp-route-id="@Model.Page?.Id">
        <input type="hidden" name="workbookID" value="@Model.Workbook.Id"/>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group col-md-3" style=" padding-left:0px;">
                    <label for="page-number">Seitenzahl</label>
                    <input name="pageNumber" type="number" min="1" class="form-control input-lg" id="page-number" placeholder="1" value="@Model.Page?.Number" />
                </div>
                <div class="form-group col-md-9" style="padding-right:0">
                    <label for="page-name">Thema der Lektion</label>
                    <input name="description" class="form-control input-lg" id="page-name" placeholder="z.B. Die Zahlen" value="@Model.Page?.Description" />
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                @if (Model.Page != null)
                {
                    <div class="form-group">
                        <label>Aktuelle Lehrerspur</label>
                        <div class="form-group row">
                            <div class="col-md-5">
                                <input class="input-lg form-control" type="text" readonly value="@Model.CurrentRecordingName" />
                            </div>
                            <div class="col-md-6" style="position:relative">
                                <audio controls class="vcenter" style="width:100%;" src="@Model.CurrentRecordingUrl"></audio>
                            </div>
                            <div class="col-md-1 text-center" style="position:relative">
                                <a href="@Model.CurrentRecordingUrl" class="vcenter" download="@Model.CurrentRecordingName">
                                    <span class="glyphicon glyphicon-download-alt" style="font-size: 125%" title="Herunterladen"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <hr />
                }
                <div class="form-group">
                    <label>Neue Lehrerspur</label>
                    <div id="noNewRecordingWarning" class="panel @(Model.Page == null ? "panel-warning" : "panel-info")">
                        <div class="panel-heading">Keine neue Lehrerspur</div>
                        <p class="panel-body">
                            Sie haben noch keine neue Lehrerspur angegeben.
                            Wählen Sie eine Datei zum Hochladen aus oder starten Sie eine neue Aufnahme, um eine Lehrerspur zu erstellen.
                        </p>
                    </div>
                    <div id="newRecording" class="form-group row hidden">
                        <div class="col-md-5">
                            <input id="newRecordingName" class="input-lg form-control" type="text" readonly value="@Model.CurrentRecordingName" />
                        </div>
                        <div class="col-md-6" style="position:relative">
                            <audio id="newRecordingAudio" controls class="vcenter" style="width:100%;" src="@Model.CurrentRecordingUrl"></audio>
                        </div>
                        <div class="col-md-1 text-center" style="position:relative">
                            <a id="newRecordingDownload" class="vcenter" download>
                                <span class="glyphicon glyphicon-download-alt" style="font-size: 125%" title="Herunterladen"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" >
                        <input type="file" name="recordedFile" id="recordedFile" class="hidden" accept="audio/*" />
                        <h3>Audiospur jetzt direkt aufnehmen</h3>
                        <div class="panel row">
                            <div class="panel-content">
                                <input type="checkbox" class="toggle-button-toggle" id="record-btn-toggle" onchange="toggleRecording(this)" checked="false"/>
                                <label class="toggle-action-button btn btn-default" id="record-btn" for="record-btn-toggle">
                                    <span class="toggle-button-state1 record-btn-record">
                                        <span class="record-btn-circle"></span>
                                        Aufnahme starten
                                    </span>
                                    <span class="toggle-button-state2">
                                        <span class="record-btn-box"></span>
                                        Aufnahme beenden
                                    </span>
                                </label>
                            
                                <label id="minutes">00</label>:<label id="seconds">00</label>                            
                                <canvas class="label" id="meter" width="100" height="20" style="margin-top: 10px " ></canvas>
                            </div>        
                        </div>
                        <label id="onair" style="color:red; text-align: left"></label>            
                    </div>
                <div class="row" style="text-align: right;">
                    <div class="col-md-6">
                        <h3>Audiodatei hochladen</h3>
                        <div>
                            <input type="file" name="uploadedFile" id="uploadedFile" class="inputfile" accept="audio/*" />
                            <label for="uploadedFile" style="border-style: solid; border-color:#4280D0; border-radius:10px; text-align:center; border-width:2px;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="25" viewBox="0 0 20 17">
                                    <path class="hover-blue" d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path>
                                </svg>
                                <span>Datei wählen</span>
                            </label>
                        </div>
                    </div>
        </div>
        <div class="form-group" style="text-align: center">
            <a class="btn btn-lg btn-danger" style="border:none" onclick="leavePage(event);" asp-controller="Home" asp-action="Workbook" asp-route-id="@Model.Workbook.Id">Abbrechen</a>
            <input type="submit" class="btn-lg btn-success" style="border:none" value="Speichern" onclick="sendBlobToServer(event);"/>
        </div>
    </form>
    <div class="modal fade" id="submit-modal" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-header-info">
                    <h4 class="modal-title">Seite wird gespeichert</h4>
                </div>
                <div class="modal-body">
                    <p>Daten werden hochgeladen und gespeichert. Bitte warten Sie einen Moment.</p>
                    <div class="loader"></div>
                </div>
            </div>
        </div>
    </div>

    <!--VORLAGE-->
    <div class="modal fade" id="submit-error-modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-header-error">
                    <button type="button" class="close" data-dismiss="modal" style="color:white;opacity:1">&times;</button>
                    <h4 class="modal-title">Fehler</h4>
                </div>
                <div class="modal-body text-justify" style="font-size:85%">
                    <p>
                        Seite konnte nicht erfolgreich gespeichert werden.
                        Überprüfen Sie Ihre Eingabe auf eventuelle Fehler und speichern Sie erneut.
                    </p>
                    <hr/>
                    <p>
                        Sie können Ihre Aufnahme herunterladen und lokal sichern, um Datenverlust zu vermeiden.
                    </p>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Schließen</a>
                </div>
            </div>
        </div>
    </div>



    <div class="modal fade" id="conversion-modal" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-header-info">
                    <h4 class="modal-title">Aufnahme wird verarbeitet</h4>
                </div>
                <div class="modal-body">
                    <p>Ihre Aufnahme wird in das MP3-Format konvertiert. Bitte gedulden Sie sich einen Moment.</p>
                    <div class="loader"></div>
                </div>
            </div>
        </div>
    </div>
</div>